<footer class="fixed-footer panel-transparent">
<hr>
	<div class="container">
		<div class="btn-group btn-group-justified clear">
			<a class="btn footer-button" href="/#about">About</a>
			<a target="_blank" class="btn footer-button" href="https://github.com/ChicoState/radioSTAR">GitHub</a>
			<a target="_blank" class="btn footer-button" href="https://radio-star.slack.com/">Slack</a>
			<a target="_blank" class="btn footer-button" href="/support">Support</a>
		</div>
		<div class="span12">
			<div class="span8">
				<a class="pull-left" target="_blank" href="/terms">Terms of Service</a>
				<a class="pull-left" target="_blank" href="/privacy">Privacy</a>
				<a class="pull-left" target="_blank" href="/security">Security</a>
				<p class="pull-right">© 2015 RadioSTAR. All rights reserved</p>
			</div>
		</div>
	</div>
<br><br>
</footer>
</body>
</html>
